.example-card {
  max-width: 200px;
  padding-top: 10px;
}
.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.marked {
  font-weight: bold;
  color: red!important;
}
.hovered {
  transform: scale(1.20);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  transition: .5s all;
  z-index: 1000;
}
